.title {
  color: #2a5a89;
}

.react-chatbot-kit-chat-bot-message {
  background-color: #2a5a89 !important
}


.react-chatbot-kit-chat-input-container {
  display: none;
}

.react-chatbot-kit-chat-header {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px
}

.react-chatbot-kit-chat-message-container {
  border-style: solid;
  border-width: 3px;
  border-color: #efefef;
}